:root {
  /* primary colors */
  --color-text-on-primary: #080538;
  /* Secondary colors */
  --color-secondary: #595a8a;
  --heading-color-text-on-secondary: #f5f5ff;
  --body-color-text-on-secondary: #bfbfbf;
  /* third colors */
  --bg-color-footer: var(--color-text-on-primary);
  --color-text-on-footer: var(--heading-color-text-on-secondary);
  /* button colors */
  --color-button-primary-bg: #3065f8;
  --color-button-focus-bg: #3044f8;
  --color-button-primary-text: #f6f6fe;
  --button-shadow: 2px 2px 5px 1px rgba(7, 4, 57, 0.3);
  /* links styles */
  --color-link-primary: #3d9e8e;
  /* fonts */
  --heading-font-family: "Raleway", sans-serif;
  --main-font-family: "Open Sans", sans-serif;
}
/* global Elements  */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--main-font-family);
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--color-button-primary-text);
}
/* header  */
.header {
  padding: 3% 5%;
}
.header__logo {
  vertical-align: middle;
  padding-right: 50%;
}
.nav__links {
  display: flex;
  justify-content: flex-end;
}
.nav__link {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-secondary);
  padding-right: 5%;
  margin-top: -2.5%;
}
/* main  */
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
/* section 1 */
/* section 1 left side */
.left__side-heading {
  font-family: var(--heading-font-family);
}
.left__side-content {
  font-family: var(--main-font-family);
}
.main-content__email {
}
.main-content__btn {
  background-color: var(--color-button-primary-bg);
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
  padding: 5% 3%;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--main-font-family);
}
.form__btn:hover {
  background-color: var(--color-button-focus-bg);
}
/* section 1 right side  */
.main-content__img {
  width: 100%;
}
/* section 1 ending */
/* bg curve */
.bg-curve__container {
  background: url(../images/bg-curve-desktop.svg) no-repeat;
}
/* section 2 */

/* section 3 */

/* footer */

.footer__logo {
  filter: brightness(0) invert(1);
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-card-background);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
